body {
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    background-color: rgba(113,212,86,255);
}

.top-nav > * {
    margin: 2%
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.logo {
    width: 20%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

input {
    margin-top: 5%;
    height: 30%;
    border-radius: 4px;
}
