body {
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 5%;
    width: 90%;
    height: 90%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2%;
    width: 100%;
}

section:not(:last-child) form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%
}

section:last-child form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%
}

img {
    max-height: 50px;
    margin: 2%;
}

input {
    padding: 3%;
    height: 70%;
    border-radius: 4px;
}

#additional-notes {
    padding: 2%;
    width: 100%;
}
