#profile-picture {
    height: 128px;
}

main {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

main a {
    font-size: 3rem;
}
