html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(69, 69, 69);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.logo {
    border-radius: 50%;
}

.link {
    text-decoration: none;
}

a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}